
/*
====================

Global Styles 

==================== 
 */ 
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

/*
======================= 

Body 

======================= 
 */ 
body {
    margin: 0;
    padding: 0;
    color: #484848;
    font-size: 14px;
    font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*
=============================== 

Container 

=============================== 
 */
.container {
    max-width: 1000px;
    margin: 30px auto;
}

/*
 ==================================== 

 Clear Float 

 ==================================== 
 */
.group:before, .group:after {
    content: "";
    display: table;
}

.group:after {
    clear: both;
}

.group {
    clear: both;
    zoom: 1;
}
