 /*
==================== 

Footer 

==================== 
 */

footer {
  position: absolute;
  bottom: 0;
  height: 60px;
  width: 100%;
  text-align: center;
  line-height: 60px;
  background-color: #fff;
  border-top: 1px solid #ccc;
}
