/*
======================= 

Filters 

======================= 
 */ 
.filters {
    background: #fff;
    height: 70px;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.filters button {
    font-size: 18px;
    background: #ff5a5f;
    color: #fff;
    height: 48px;
    width: 20%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    margin: 11px 30px;
}

.filters button:hover {
    opacity: 90%;
}

.filters .locations {
    height: 100%;
    width: 25%;
    border-right: 1px solid #ddd;
    float: left;
    margin-left: 30px;
    text-align: left;
}

.filters .amenities {
    height: 100%;
    width:  25%;
    float: left;
    margin-left: 30px;
    text-align: left;
}

h3 {
    margin: 0;
    padding: 0;
    font-weight: 600;
    margin-top: 17px;
}

h4{
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-size: 14px;
}

/*
=========================== 

Pop over 

========================= = 
 */ 

.popover {
    display: block;
    margin-top: 20px;
    width: 95%;
    background: #fafafa;
    border: 1px solid #ddd;
    list-style-type: none;
    margin-left: -30px;
    border-radius: 4px;
}
